[submodule "chromium-prototype/chromium"]
	path = chromium
	url = https://github.com/columbia/chromium.git
[submodule "chromium-prototype/devtools-frontend"]
	path = devtools-frontend
	url = https://github.com/columbia/devtools-frontend.git
[submodule "chromium-prototype/depot_tools"]
	path = chromium-prototype/depot_tools
	url = https://github.com/columbia/depot_tools.git
