doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ad
body(style={"font-family": "sans-serif", "background": "#f6d7ff"})

div Advertisement
br
  //- p This is campaign 1.
img(src='/campaign-2.png' alt='Campaign 2 Image'  width=150 height=150)
br
// attributionsrc is required for source registration
a(href='/register-source-href' alt='blue shoes' attributionsrc target='_blank') View now on Shoes.com

